<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create article</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <h1>Create article</h1>

        <div class="create_box_right">
            <a href="/" class="create_link">Return to main page</a>
        </div>
    </header>

    <main class="main_container">
        <div class="articleCreate">
            <form method="post" class="formCreate">
                <p class="createDisc">Name of your article</p>
                <input type="text" name="name" id="name" class="nameCreate"><br>
                <p class="createDisc">YourText</p>
                <textarea name="text" id="text" class="textCreate"></textarea><br>
                <p class="createDisc">Autor name</p>
                <textarea name="autor" id="autor" class="autorCreate"></textarea><br>
    
                <input type="submit" value="Send" class="myButton" readonly><br>
            </form>
        </div>

    </main>
    
</body>
</html>