<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create article</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <head>
        <h1>Create article</h1>
        <a href="/" class="create_link">Return to main page</a>
    </head>

    <main class="main_container">
        
        <form method="post">
            <input type="text" name="Name" id="name">
            <textarea name="Autor" id="autor"></textarea>
            <textarea name="Text" id="text"></textarea>

            <input type="submi" value="Сохранить">
        </form>

        <div class="article">
            <a href="/article/name" class="name">aboba</a>
            <p class="score">5.0</p>
            <p class="autor">danya</p>
            <p class="date">3.05.2023</p>
        </div>
        
    </main>
    

</body>
</html>