<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <head>
        <h1>Main page</h1>
        <a href="/createArticle" class="create_link">Create your article</a>
    </head>

    <main class="main_container">
        <div class="article">
            <a href="/article/name" class="name">aboba</a>
            <p class="score">5.0</p>
            <p class="autor">danya</p>
            <p class="date">3.05.2023</p>
        </div>
            
        <div class="article">
            <a href="/article/name" class="name">aboba</a>
            <p class="score">5.0</p>
            <p class="autor">danya</p>
            <p class="date">3.05.2023</p>
        </div>

        <div class="article">
            <a href="/article/name" class="name">aboba</a>
            <p class="score">5.0</p>
            <p class="autor">danya</p>
            <p class="date">3.05.2023</p>
        </div>

        <div class="article">
            <p>aboba</p>
        </div>

        <div class="article">
            <p>aboba</p>
        </div>

        <div class="article">
            <p>aboba</p>
        </div>
    </main>
    

</body>
</html>