<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <div>
            <h1>Main page</h1>
        </div>

        <div class="create_box_right">
            <a href="/createArticle" class="create_link">Create your article</a>
        </div>
        <form method="post" class="clearButton">
            <input type="submit" value="Clear" class="clearText" readonly><br>
        </form>

    </header>

    <main class="main_container">
        {% for el in articles %}
        <div class="article">
            <a href="/articlePage/{{ el.id }}" class="name">{{ el.name }}</a>
            <p class="score">{{ el.points }}</p>
            <p class="autor"> Autor: {{ el.autor }}</p>
            <p class="date">Date: {{ el.date.date() }}</p>
        </div>
        {% endfor %}
    </main>
    

</body>
</html>